05.nifi-neo4j/nifi-neo4j.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>f55abc08-0169-1000-5134-38ddffa49be2</groupId>
    <name>nifi-neo4j</name>
    <snippet>
        <controllerServices>
            <id>c5ddcfaf-f84a-3fba-0000-000000000000</id>
            <parentGroupId>218bcddf-24cc-3a53-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>embedded-avro-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroReader</type>
        </controllerServices>
        <processGroups>
            <id>e3293926-a9c9-35f7-0000-000000000000</id>
            <parentGroupId>218bcddf-24cc-3a53-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>1b1b3667-2c6d-37c1-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>828a1d01-f429-33fb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>e3596405-eb90-36b0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1eaa9c8a-7d7f-32f7-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>8b792539-7f70-35f9-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>147c9786-2931-3256-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2ce4a1ef-cddd-3d47-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>86525ee3-b891-3ed5-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>828a1d01-f429-33fb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3e8af3dc-8c80-30f5-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2638.6505032118584</x>
                        <y>-953.4881342823728</y>
                    </bends>
                    <bends>
                        <x>2638.6505032118584</x>
                        <y>-903.4881342823728</y>
                    </bends>
                    <destination>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>147c9786-2931-3256-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>147c9786-2931-3256-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>467637ea-ff5b-3431-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>4d2d005b-1407-30a9-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>59eb41f2-f37d-3add-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4fc4fff4-b864-364d-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>676d5b9e-7812-31bd-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>e3596405-eb90-36b0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7a78f2d1-eeb3-3827-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>59eb41f2-f37d-3add-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>828a1d01-f429-33fb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>81bb6e0b-8876-34d0-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2684.7484036024834</x>
                        <y>-254.2087611134275</y>
                    </bends>
                    <bends>
                        <x>2684.7484036024834</x>
                        <y>-204.2087611134275</y>
                    </bends>
                    <destination>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>59eb41f2-f37d-3add-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>59eb41f2-f37d-3add-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a207755c-063c-3839-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2661.6751614149834</x>
                        <y>-508.4965571339353</y>
                    </bends>
                    <bends>
                        <x>2661.6751614149834</x>
                        <y>-458.4965571339353</y>
                    </bends>
                    <destination>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>828a1d01-f429-33fb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>828a1d01-f429-33fb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ae26a729-ced6-3574-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2657.8699856337334</x>
                        <y>-735.8093012745603</y>
                    </bends>
                    <bends>
                        <x>2657.8699856337334</x>
                        <y>-685.8093012745603</y>
                    </bends>
                    <destination>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>e3596405-eb90-36b0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>e3596405-eb90-36b0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ae7d3d6b-c403-3ebd-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>147c9786-2931-3256-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>b85cba6e-fdee-36a0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b41e9dc8-58ca-3530-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>ae8e1917-be79-37d5-0000-000000000000</id>
                        <type>FUNNEL</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>59eb41f2-f37d-3add-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e8884bef-5359-3c32-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>e3596405-eb90-36b0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>e3293926-a9c9-35f7-0000-000000000000</groupId>
                        <id>147c9786-2931-3256-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>42fde095-b47e-32d0-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.1</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>
<name>Pretty Print JSON</name>
                            </value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>
<name>suppress-nulls</name>
                            </value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>
<name>output-grouping</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
<name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>
<name>compression-level</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>never-suppress</value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>output-array</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>none</value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>b7f31b66-9e46-31c4-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>neo4j-bundle-nar</artifact>
                        <group>default</group>
                        <version>unversioned</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Bolt Database Connection URL</key>
                            <value>
<name>Bolt Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Sessions</key>
                            <value>
<name>Max Total Sessions</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>Neo4jBoltSessionPool</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Bolt Database Connection URL</key>
                            <value>bolt://localhost:7687</value>
                        </entry>
                        <entry>
                            <key>Max Total Sessions</key>
                            <value>50</value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>neo4j</value>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>com.jonathantelfer.nifi.neo4j.Neo4jBoltSessionPool</type>
                </controllerServices>
                <controllerServices>
                    <id>dd413de1-0dd2-3a9f-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.1</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>
<name>dbcp-min-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>
<name>dbcp-max-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>
<name>dbcp-max-conn-lifetime</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>
<name>dbcp-time-between-eviction-runs</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>
<name>dbcp-min-evictable-idle-time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>
<name>dbcp-soft-min-evictable-idle-time</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>LocalMysqlForNeo4j</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>jdbc:mysql://127.0.0.1:3306/northwind</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>com.mysql.jdbc.Driver</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>/Users/rico/OneDrive/lib/mysql-connector-java.jar</value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>root</value>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>8</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>30 mins</value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>-1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <funnels>
                    <id>4d2d005b-1407-30a9-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <position>
                        <x>1947.1346340712334</x>
                        <y>-261.34505261733375</y>
                    </position>
                </funnels>
                <funnels>
                    <id>676d5b9e-7812-31bd-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <position>
                        <x>1920.2562161024834</x>
                        <y>-742.9455927784666</y>
                    </position>
                </funnels>
                <funnels>
                    <id>86525ee3-b891-3ed5-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <position>
                        <x>1937.5489407118584</x>
                        <y>-511.7792719776853</y>
                    </position>
                </funnels>
                <funnels>
                    <id>8b792539-7f70-35f9-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <position>
                        <x>1901.0367336806084</x>
                        <y>-960.6244257862791</y>
                    </position>
                </funnels>
                <funnels>
                    <id>ae8e1917-be79-37d5-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <position>
                        <x>2359.017310772913</x>
                        <y>-84.16372955426493</y>
                    </position>
                </funnels>
                <processGroups>
                    <id>42e5112c-9777-3c34-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <position>
                        <x>-261.0331115722656</x>
                        <y>-452.98486328125</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>156cae7a-8854-3cec-0000-000000000000</id>
                            <parentGroupId>42e5112c-9777-3c34-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>42e5112c-9777-3c34-0000-000000000000</groupId>
<id>f03fc4d6-9ae9-38cc-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>42e5112c-9777-3c34-0000-000000000000</groupId>
<id>2b6f0ca6-f478-3b94-0000-000000000000</id>
<type>FUNNEL</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>25a2b726-e755-3928-0000-000000000000</id>
                            <parentGroupId>42e5112c-9777-3c34-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>42e5112c-9777-3c34-0000-000000000000</groupId>
<id>2b6f0ca6-f478-3b94-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>42e5112c-9777-3c34-0000-000000000000</groupId>
<id>edd02ce1-ef73-34b0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2b7897eb-463c-3831-0000-000000000000</id>
                            <parentGroupId>42e5112c-9777-3c34-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>42e5112c-9777-3c34-0000-000000000000</groupId>
<id>b98a2102-0282-36d3-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>42e5112c-9777-3c34-0000-000000000000</groupId>
<id>f03fc4d6-9ae9-38cc-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3f4f9a9a-90b5-321e-0000-000000000000</id>
                            <parentGroupId>42e5112c-9777-3c34-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>42e5112c-9777-3c34-0000-000000000000</groupId>
<id>edd02ce1-ef73-34b0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>42e5112c-9777-3c34-0000-000000000000</groupId>
<id>4ddfd232-01f4-3282-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>73dc811c-12f8-36aa-0000-000000000000</id>
                            <parentGroupId>42e5112c-9777-3c34-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>42e5112c-9777-3c34-0000-000000000000</groupId>
<id>1cc97298-9e4b-3772-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>42e5112c-9777-3c34-0000-000000000000</groupId>
<id>f03fc4d6-9ae9-38cc-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e891609a-f80f-30de-0000-000000000000</id>
                            <parentGroupId>42e5112c-9777-3c34-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>42e5112c-9777-3c34-0000-000000000000</groupId>
<id>edd02ce1-ef73-34b0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>42e5112c-9777-3c34-0000-000000000000</groupId>
<id>462b4c05-748e-3413-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>1cc97298-9e4b-3772-0000-000000000000</id>
                            <parentGroupId>42e5112c-9777-3c34-0000-000000000000</parentGroupId>
                            <position>
<x>791.1666259765625</x>
<y>102.94303131103516</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>2b6f0ca6-f478-3b94-0000-000000000000</id>
                            <parentGroupId>42e5112c-9777-3c34-0000-000000000000</parentGroupId>
                            <position>
<x>318.00006103515625</x>
<y>-108.0</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>b98a2102-0282-36d3-0000-000000000000</id>
                            <parentGroupId>42e5112c-9777-3c34-0000-000000000000</parentGroupId>
                            <position>
<x>342.00006103515625</x>
<y>228.0</y>
                            </position>
                        </funnels>
                        <processors>
                            <id>462b4c05-748e-3413-0000-000000000000</id>
                            <parentGroupId>42e5112c-9777-3c34-0000-000000000000</parentGroupId>
                            <position>
<x>648.6659240722656</x>
<y>-451.1699523925781</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1110 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>4ddfd232-01f4-3282-0000-000000000000</id>
                            <parentGroupId>42e5112c-9777-3c34-0000-000000000000</parentGroupId>
                            <position>
<x>166.90155029296875</x>
<y>-506.07501220703125</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value> CREATE (:User {
              name: {name},
              age: {age}
		})
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>1110 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                        <processors>
                            <id>edd02ce1-ef73-34b0-0000-000000000000</id>
                            <parentGroupId>42e5112c-9777-3c34-0000-000000000000</parentGroupId>
                            <position>
<x>173.00006103515625</x>
<y>-311.0</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>age</key>
        <value>
            <name>age</name>
        </value>
    </entry>
    <entry>
        <key>CustomerID</key>
        <value>
            <name>CustomerID</name>
        </value>
    </entry>
    <entry>
        <key>name</key>
        <value>
            <name>name</name>
        </value>
    </entry>
    <entry>
        <key>OrderID</key>
        <value>
            <name>OrderID</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>age</key>
        <value>11</value>
    </entry>
    <entry>
        <key>CustomerID</key>
        <value>customer</value>
    </entry>
    <entry>
        <key>name</key>
        <value>name_a</value>
    </entry>
    <entry>
        <key>OrderID</key>
        <value>Orderid</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>f03fc4d6-9ae9-38cc-0000-000000000000</id>
                            <parentGroupId>42e5112c-9777-3c34-0000-000000000000</parentGroupId>
                            <position>
<x>184.00006103515625</x>
<y>4.0</y>
                            </position>
                            <bundle>
<artifact>neo4j-bundle-nar</artifact>
<group>default</group>
<version>unversioned</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Neo4j Bolt Session Pool</key>
        <value>
            <identifiesControllerService>com.jonathantelfer.nifi.neo4j.BoltSessionPool</identifiesControllerService>
            <name>Neo4j Bolt Session Pool</name>
        </value>
    </entry>
    <entry>
        <key>Cypher query</key>
        <value>
            <name>Cypher query</name>
        </value>
    </entry>
    <entry>
        <key>cypher.param.integer.age</key>
        <value>
            <name>cypher.param.integer.age</name>
        </value>
    </entry>
    <entry>
        <key>cypher.param.string.CustomerID</key>
        <value>
            <name>cypher.param.string.CustomerID</name>
        </value>
    </entry>
    <entry>
        <key>cypher.param.string.name</key>
        <value>
            <name>cypher.param.string.name</name>
        </value>
    </entry>
    <entry>
        <key>cypher.param.string.OrderID</key>
        <value>
            <name>cypher.param.string.OrderID</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Neo4j Bolt Session Pool</key>
        <value>b7f31b66-9e46-31c4-0000-000000000000</value>
    </entry>
    <entry>
        <key>Cypher query</key>
        <value>CREATE (
	:Orders {
		OrderID:{OrderID},
		CustomerID:{CustomerID}
	}
)</value>
    </entry>
    <entry>
        <key>cypher.param.integer.age</key>
        <value>${age}</value>
    </entry>
    <entry>
        <key>cypher.param.string.CustomerID</key>
        <value>${CustomerID}</value>
    </entry>
    <entry>
        <key>cypher.param.string.name</key>
        <value>${name}</value>
    </entry>
    <entry>
        <key>cypher.param.string.OrderID</key>
        <value>${OrderID}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutCypher</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>com.jonathantelfer.nifi.neo4j.PutCypher</type>
                        </processors>
                    </contents>
                    <name>Test</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>6e4c30f0-214d-34ef-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <position>
                        <x>341.53673368060834</x>
                        <y>-453.60723876953125</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>3e7e3a5c-77d6-3151-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>803f8755-89f0-38eb-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>43911509-f044-39b0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3e8843b9-cb12-3d06-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>f88badc5-6801-33d6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>88b2802d-a321-3491-0000-000000000000</id>
<type>FUNNEL</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>647a2dd4-f560-3544-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>56552045-98a5-3703-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>splits</selectedRelationships>
                            <source>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>4583c938-345a-3f25-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>651e4d75-75b3-3de1-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>88b2802d-a321-3491-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>02bb008d-e01e-39af-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>80b0110f-f8e1-3992-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1071.313217163086</x>
<y>-113.21273803710938</y>
                            </bends>
                            <bends>
<x>1071.313217163086</x>
<y>-63.212738037109375</y>
                            </bends>
                            <destination>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>43911509-f044-39b0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>43911509-f044-39b0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9d87cb65-f262-3e42-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>c4798f2a-dffc-3b8f-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>43911509-f044-39b0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a43bde8b-dc14-3cff-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>bec5a1c6-f3b7-3fd8-0000-000000000000</id>
<type>FUNNEL</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>02bb008d-e01e-39af-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>adbf2b38-baad-31e1-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>4583c938-345a-3f25-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>orders</selectedRelationships>
                            <source>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>f88badc5-6801-33d6-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>ba195c3c-d975-39a1-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>02bb008d-e01e-39af-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>62d70187-acc2-3f18-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e509c95d-b2bb-369c-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>43911509-f044-39b0-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>6e4c30f0-214d-34ef-0000-000000000000</groupId>
<id>56552045-98a5-3703-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <funnels>
                            <id>803f8755-89f0-38eb-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <position>
<x>779.8165188368583</x>
<y>42.30147753403344</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>88b2802d-a321-3491-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <position>
<x>765.4097137451172</x>
<y>-810.6864013671875</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>bec5a1c6-f3b7-3fd8-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <position>
<x>1031.6616821289062</x>
<y>-919.806884765625</y>
                            </position>
                        </funnels>
                        <funnels>
                            <id>c4798f2a-dffc-3b8f-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <position>
<x>343.81651883685834</x>
<y>-105.19852246596656</y>
                            </position>
                        </funnels>
                        <processors>
                            <id>02bb008d-e01e-39af-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <position>
<x>614.4097137451172</x>
<y>-955.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
        <value>
            <name>sql-pre-query</name>
        </value>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>
            <name>SQL select query</name>
        </value>
    </entry>
    <entry>
        <key>sql-post-query</key>
        <value>
            <name>sql-post-query</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>
            <name>dbf-normalize</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>
            <name>compression-format</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>
            <name>esql-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>
            <name>esql-output-batch-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>dd413de1-0dd2-3a9f-0000-000000000000</value>
    </entry>
    <entry>
        <key>sql-pre-query</key>
    </entry>
    <entry>
        <key>SQL select query</key>
        <value>select * from ${db.table.fullname}</value>
    </entry>
    <entry>
        <key>sql-post-query</key>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>compression-format</key>
        <value>NONE</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-max-rows</key>
        <value>0</value>
    </entry>
    <entry>
        <key>esql-output-batch-size</key>
        <value>0</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ExecuteSQL</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                        </processors>
                        <processors>
                            <id>43911509-f044-39b0-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <position>
<x>608.3132171630859</x>
<y>-153.21273803710938</y>
                            </position>
                            <bundle>
<artifact>neo4j-bundle-nar</artifact>
<group>default</group>
<version>unversioned</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Neo4j Bolt Session Pool</key>
        <value>
            <identifiesControllerService>com.jonathantelfer.nifi.neo4j.BoltSessionPool</identifiesControllerService>
            <name>Neo4j Bolt Session Pool</name>
        </value>
    </entry>
    <entry>
        <key>Cypher query</key>
        <value>
            <name>Cypher query</name>
        </value>
    </entry>
    <entry>
        <key>cypher.param.string.CustomerID</key>
        <value>
            <name>cypher.param.string.CustomerID</name>
        </value>
    </entry>
    <entry>
        <key>cypher.param.string.OrderID</key>
        <value>
            <name>cypher.param.string.OrderID</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Neo4j Bolt Session Pool</key>
        <value>b7f31b66-9e46-31c4-0000-000000000000</value>
    </entry>
    <entry>
        <key>Cypher query</key>
        <value>CREATE (
	:Orders {
		OrderID:{OrderID},
		CustomerID:{CustomerID}
	}
)</value>
    </entry>
    <entry>
        <key>cypher.param.string.CustomerID</key>
        <value>${CustomerID}</value>
    </entry>
    <entry>
        <key>cypher.param.string.OrderID</key>
        <value>${OrderID}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutCypher</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>com.jonathantelfer.nifi.neo4j.PutCypher</type>
                        </processors>
                        <processors>
                            <id>4583c938-345a-3f25-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <position>
<x>614.4097137451172</x>
<y>-562.5028381347656</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Record Reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>Record Reader</name>
        </value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>Record Writer</name>
        </value>
    </entry>
    <entry>
        <key>Records Per Split</key>
        <value>
            <name>Records Per Split</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Record Reader</key>
        <value>c5ddcfaf-f84a-3fba-0000-000000000000</value>
    </entry>
    <entry>
        <key>Record Writer</key>
        <value>42fde095-b47e-32d0-0000-000000000000</value>
    </entry>
    <entry>
        <key>Records Per Split</key>
        <value>1</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitRecord</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>splits</name>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.SplitRecord</type>
                        </processors>
                        <processors>
                            <id>56552045-98a5-3703-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <position>
<x>614.4097137451172</x>
<y>-367.806884765625</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>CustomerID</key>
        <value>
            <name>CustomerID</name>
        </value>
    </entry>
    <entry>
        <key>OrderID</key>
        <value>
            <name>OrderID</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>CustomerID</key>
        <value>$.CustomerID</value>
    </entry>
    <entry>
        <key>OrderID</key>
        <value>$.OrderID</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>62d70187-acc2-3f18-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <position>
<x>614.4097137451172</x>
<y>-1162.6151123046875</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>list-db-tables-db-connection</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>list-db-tables-db-connection</name>
        </value>
    </entry>
    <entry>
        <key>list-db-tables-catalog</key>
        <value>
            <name>list-db-tables-catalog</name>
        </value>
    </entry>
    <entry>
        <key>list-db-tables-schema-pattern</key>
        <value>
            <name>list-db-tables-schema-pattern</name>
        </value>
    </entry>
    <entry>
        <key>list-db-tables-name-pattern</key>
        <value>
            <name>list-db-tables-name-pattern</name>
        </value>
    </entry>
    <entry>
        <key>list-db-tables-types</key>
        <value>
            <name>list-db-tables-types</name>
        </value>
    </entry>
    <entry>
        <key>list-db-include-count</key>
        <value>
            <name>list-db-include-count</name>
        </value>
    </entry>
    <entry>
        <key>list-db-refresh-interval</key>
        <value>
            <name>list-db-refresh-interval</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>list-db-tables-db-connection</key>
        <value>dd413de1-0dd2-3a9f-0000-000000000000</value>
    </entry>
    <entry>
        <key>list-db-tables-catalog</key>
    </entry>
    <entry>
        <key>list-db-tables-schema-pattern</key>
    </entry>
    <entry>
        <key>list-db-tables-name-pattern</key>
    </entry>
    <entry>
        <key>list-db-tables-types</key>
        <value>TABLE</value>
    </entry>
    <entry>
        <key>list-db-include-count</key>
        <value>false</value>
    </entry>
    <entry>
        <key>list-db-refresh-interval</key>
        <value>1 sec</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>111110 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>true</executionNodeRestricted>
                            <name>ListDatabaseTables</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ListDatabaseTables</type>
                        </processors>
                        <processors>
                            <id>f88badc5-6801-33d6-0000-000000000000</id>
                            <parentGroupId>6e4c30f0-214d-34ef-0000-000000000000</parentGroupId>
                            <position>
<x>614.4097137451172</x>
<y>-755.5755004882812</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.1</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>orders</key>
        <value>
            <name>orders</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>orders</key>
        <value>${db.table.name:equals('Orders')}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>RouteOnAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>orders</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                    </contents>
                    <name>MysqlDataToNeo4j</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>147c9786-2931-3256-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <position>
                        <x>2175.6505032118584</x>
                        <y>-993.4881342823728</y>
                    </position>
                    <bundle>
                        <artifact>neo4j-bundle-nar</artifact>
                        <group>default</group>
                        <version>unversioned</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Neo4j Bolt Session Pool</key>
<value>
    <identifiesControllerService>com.jonathantelfer.nifi.neo4j.BoltSessionPool</identifiesControllerService>
    <name>Neo4j Bolt Session Pool</name>
</value>
                            </entry>
                            <entry>
<key>Cypher query</key>
<value>
    <name>Cypher query</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Neo4j Bolt Session Pool</key>
<value>b7f31b66-9e46-31c4-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Cypher query</key>
<value>MATCH (n)detach delete n;</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutCypher</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>com.jonathantelfer.nifi.neo4j.PutCypher</type>
                </processors>
                <processors>
                    <id>59eb41f2-f37d-3add-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <position>
                        <x>2221.7484036024834</x>
                        <y>-294.2087611134275</y>
                    </position>
                    <bundle>
                        <artifact>neo4j-bundle-nar</artifact>
                        <group>default</group>
                        <version>unversioned</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Neo4j Bolt Session Pool</key>
<value>
    <identifiesControllerService>com.jonathantelfer.nifi.neo4j.BoltSessionPool</identifiesControllerService>
    <name>Neo4j Bolt Session Pool</name>
</value>
                            </entry>
                            <entry>
<key>Cypher query</key>
<value>
    <name>Cypher query</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Neo4j Bolt Session Pool</key>
<value>b7f31b66-9e46-31c4-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Cypher query</key>
<value>with "jdbc:mysql://172.17.0.3:3306/northwind?user=root&amp;password=123456@" as url
CALL apoc.load.jdbc(url,"Suppliers") YIELD row
CREATE (n:Supplier)
SET n = row</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutCypher</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>com.jonathantelfer.nifi.neo4j.PutCypher</type>
                </processors>
                <processors>
                    <id>828a1d01-f429-33fb-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <position>
                        <x>2198.6751614149834</x>
                        <y>-548.4965571339353</y>
                    </position>
                    <bundle>
                        <artifact>neo4j-bundle-nar</artifact>
                        <group>default</group>
                        <version>unversioned</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Neo4j Bolt Session Pool</key>
<value>
    <identifiesControllerService>com.jonathantelfer.nifi.neo4j.BoltSessionPool</identifiesControllerService>
    <name>Neo4j Bolt Session Pool</name>
</value>
                            </entry>
                            <entry>
<key>Cypher query</key>
<value>
    <name>Cypher query</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Neo4j Bolt Session Pool</key>
<value>b7f31b66-9e46-31c4-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Cypher query</key>
<value>with "jdbc:mysql://172.17.0.3:3306/northwind?user=root&amp;password=123456@" as url
CALL apoc.load.jdbc(url,"Categories") YIELD row
CREATE (n:Category)
SET n = row;</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutCypher</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>com.jonathantelfer.nifi.neo4j.PutCypher</type>
                </processors>
                <processors>
                    <id>b85cba6e-fdee-36a0-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <position>
                        <x>2190.9476223524834</x>
                        <y>-1256.458166020654</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1110 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>e3596405-eb90-36b0-0000-000000000000</id>
                    <parentGroupId>e3293926-a9c9-35f7-0000-000000000000</parentGroupId>
                    <position>
                        <x>2194.8699856337334</x>
                        <y>-775.8093012745603</y>
                    </position>
                    <bundle>
                        <artifact>neo4j-bundle-nar</artifact>
                        <group>default</group>
                        <version>unversioned</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Neo4j Bolt Session Pool</key>
<value>
    <identifiesControllerService>com.jonathantelfer.nifi.neo4j.BoltSessionPool</identifiesControllerService>
    <name>Neo4j Bolt Session Pool</name>
</value>
                            </entry>
                            <entry>
<key>Cypher query</key>
<value>
    <name>Cypher query</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Neo4j Bolt Session Pool</key>
<value>b7f31b66-9e46-31c4-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Cypher query</key>
<value>with "jdbc:mysql://172.17.0.3:3306/northwind?user=root&amp;password=123456@" as url
CALL apoc.load.jdbc(url,"Products") YIELD row
CREATE (n:Product)
SET n = row,
  n.unitPrice = toFloat(row.unitPrice),
  n.unitsInStock = toInteger(row.unitsInStock), n.unitsOnOrder = toInteger(row.unitsOnOrder),
  n.reorderLevel = toInteger(row.reorderLevel), n.discontinued = (row.discontinued &lt;&gt; "0");</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutCypher</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>com.jonathantelfer.nifi.neo4j.PutCypher</type>
                </processors>
            </contents>
            <name>neo4j</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/13/2019 16:04:31 CST</timestamp>
</template>
